<!-- Start Page Title Area -->
<section class="page-title-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>No Services</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="img" /></div>
    <div class="shape2"><img src="assets/img/shape2.png" alt="img" /></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="img" /></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="img" /></div>
    <div class="shape8 rotateme">
        <img src="assets/img/shape8.svg" alt="shape" />
    </div>
    <div class="shape9"><img src="assets/img/shape9.svg" alt="shape" /></div>
</section>
<!-- End Page Title Area -->

<!-- Start Project Area -->
<section class="project-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img
                            src="assets/img/gazon-synthetique-gazon-naturel.jpg"
                            alt="work"
                        />
                        <a
                            href="assets/img/gazon-synthetique-gazon-naturel.jpg"
                            class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>

                    <div class="project-content">
                        <a routerLink="/services/creation-gazon-synthetique">
                            <span>Gazon Synthétique et Naturel</span>
                            <p>
                                Nous sommes spécialisés dans la création
                                d'espaces verts, nous vous proposons des
                                produits de qualité et des services de qualité.
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img
                            src="assets/img/Entretien-espaces-verts.jpg"
                            alt="work"
                        />
                        <a
                            href="assets/img/Entretien-espaces-verts.jpg"
                            class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>
                    <div class="project-content">
                        <a routerLink="/services/espace-vert">
                            <span>Entretien-espaces-verts</span>
                            <p>
                                Vous pouvez confier l'entretien de votre jardin à nos équipes
                                professionnelles. Nous vous proposons des services et des produits de qualité.
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/Elagage-arbres.jpg" alt="work" />
                        <a href="assets/img/Elagage-arbres.jpg" class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>
                    <div class="project-content">
                        <a routerLink="/services/elagage-arbres">
                            <span>Elagage arbres & palmiers</span>
                            <p>
                                Nous sommes spécialisés dans l'élagage des
                                arbres et palmiers, nous vous proposons des
                                produits de qualité et des services de qualité.
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img 
                        style="width:640px;height:280px;"
                        src="assets/img/j.jpeg" alt="work" />
                        <a href="assets/img/j.jpeg" class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>

                <div class="project-content">
                    <a routerLink="/services/decoration-jardin">
                        <span>Decoration jardin pierre</span>
                        <p>
                            Décoration de jardin avec des pierres naturelles et artificielles.
                        </p>
                    </a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img style="width:640px;height:280px;" src="assets/img/9a1a6485a0e3324865e812656858164c.jpg" alt="work" />
                        <a href="assets/img/9a1a6485a0e3324865e812656858164c.jpg" class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>

                    <div class="project-content">
                        <a routerLink="/services/cloture-jardin">
                            <span>Clôtures de jardins</span>
                            <p>
                                Clôtures de jardins en bois, en fer forgé, en PVC, en aluminium, en pierre naturelle et artificielle.
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img style="width:640px;height:280px;" src="assets/img/PERGOLA-BIOCLIMATIQUE-Maroc-46.jpg" alt="work" />
                        <a href="assets/img/PERGOLA-BIOCLIMATIQUE-Maroc-46.jpg" class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>

                    <div class="project-content">
                        <a routerLink="/services/pergola-bioclimatique">
                            <span>Pergola bioclimatique</span>
                            <p>
                                Pergola bioclimatique en bois, en fer forgé, en PVC, en aluminium et artificielle.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
<!-- 
            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/work-img1.jpg" alt="work" />
                        <a href="assets/img/work-img1.jpg" class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>

                    <div class="project-content">
                        <span>Digital</span>
                        <h3><a routerLink="/projects">Network Marketing</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/work-img2.jpg" alt="work" />
                        <a href="assets/img/work-img2.jpg" class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>

                    <div class="project-content">
                        <span>Digital</span>
                        <h3><a routerLink="/projects">Network Marketing</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/work-img3.jpg" alt="work" />
                        <a href="assets/img/work-img3.jpg" class="popup-btn"
                            ><i class="icofont-plus"></i
                        ></a>
                    </div>

                    <div class="project-content">
                        <span>Digital</span>
                        <h3><a routerLink="/projects">Network Marketing</a></h3>
                    </div>
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" routerLink="/services"
                                    ><i class="icofont-double-left"></i
                                ></a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" routerLink="/services"
                                    >1</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" routerLink="/services"
                                    >2</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" routerLink="/services"
                                    >3</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" routerLink="/services"
                                    ><i class="icofont-double-right"></i
                                ></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Project Area -->
