<!-- Start Page Title Area -->
<section class="page-title-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Inspection par caméra video</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="img" /></div>
    <div class="shape2"><img src="assets/img/shape2.png" alt="img" /></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="img" /></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="img" /></div>
    <div class="shape8 rotateme">
        <img src="assets/img/shape8.svg" alt="shape" />
    </div>
    <div class="shape9"><img src="assets/img/shape9.svg" alt="shape" /></div>
</section>
<!-- End Page Title Area -->

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details">
                    <div class="article-img">
                        <img
                            src="assets/img/cache_51936265.png"
                            alt="blog-details"
                        />
                        <div class="date">inspection <br />caméra</div>
                    </div>

                    <div class="article-content">
                        <h3>
                            Inspection télévisée de vos réseaux d'assainissement
                        </h3>
                        <p>
                            Les inspections télévisées servent à évaluer l'état
                            des canalisations non visitables. Des problèmes sur
                            une canalisation? la caméra avec compteur métrique
                            dévoile la ditance du bloquage qui peut être dû aux
                            racines, refoulements répétitifs, contrepente ....
                        </p>
                        <p>
                            Nos techniciens sont formés afin d'effectuer des
                            inspections télévisées de vos canalisations ou
                            réseau. Un rapport photo et plan comprenant un CD
                            vidéo vous est transmis, ce qui peut faciliter votre
                            déclaration à vos assurances en cas de besoin.
                        </p>
                       
                        <blockquote class="blockquote">
                            <p>
                                Identifier la cause du refoulement de vos
                                canalisations Notre passage caméra vous
                                indiquera si le refoulement est dû a un
                                affaissement, une contre pente, des problèmes de
                                laitance de ciment ou un objets bloqués ?
                            </p>
                        </blockquote>
                        <p>
                            En inspection télévisée nous pouvons vérifier vos
                            tabourets, regards, égouts et canalisations et vous
                            indiquer les défauts d'étanchéités d'où proviennent
                            les infiltrations et l'emplacement des joints
                            defectueux.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="widget widget-search">
                        <form>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Search"
                            />
                            <button type="submit">
                                <i class="icofont-search-2"></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget widget_text">
                        <h3 class="widget-title">Galerie de photos</h3>
                        <div class="bar"></div>
                        <ul>
                            <!-- <li>
                                <div class="single-image">
                                    <img src="assets/img/cache_51936267.jpg" alt="gallery">
                                    <a href=="assets/img/cache_51936267.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                </div>
                            </li>
                        
                            <li>
                                    <div class="single-image">
                                        <img src="assets/img/Nouveauprojet.jpg" alt="gallery">
                                        <a href=="assets/img/Nouveauprojet.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                    </div>
                            </li>
                            -->
                            <!-- <li>
                                <div class="single-image">
                                    <img src="assets/img/Preparation-de-lintervention.jpg" alt="gallery">
                                    <a href=="assets/img/Preparation-de-lintervention.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                </div>
                            </li> -->
                            
                                <div class="single-image mb-5">
                                    <!-- <img src="assets/img/Preparation-de-lintervention.jpeg" alt="gallery">
                                    <a href="assets/img/Preparation-de-lintervention.jpeg" class="popup-btn"><i class="icofont-plus"></i></a> -->
                                </div>
                                <div class="single-image mb-5">
                                    <img 
                                    style="width: 500px; height:300px ;"
                                    src="assets/img/Nouveauprojet.jpeg" alt="gallery">
                                    <a href="assets/img/Nouveauprojet.jpeg" class="popup-btn"><i class="icofont-plus"></i></a>
                                </div>
                                <div class="single-image mb-5">
                                    <img src="assets/img/Preparation-de-lintervention.jpg" alt="gallery">
                                    <a href="assets/img/Preparation-de-lintervention.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                </div>
                                <div class="single-image mb-5">
                                    <img src="assets/img/cache_51936267.jpg" alt="gallery">
                                    <a href="assets/img/cache_51936267.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                </div>
                          
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->
