<!-- Start Marketing Main Banner -->
<div class="main-banner marketing-home">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-content">
                            <h1>Find the best job </h1>
                            <p>Our passion to work hard and deliver excellent results. It could solve the needs of your
                                customers and develop innovation.</p>
                            <a routerLink="/jobs" class="btn btn-primary">
                                Browse Jobs
                            </a>
                            <!-- <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"> Watch
                                Video <i class="icofont-play-alt-3"></i></a> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="marketing-image">
                            <img src="assets/img/marketing-shape/marketing-img1.png"
                                class="wow animate__animated animate__fadeInDown" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img2.png"
                                class="wow animate__animated animate__fadeInLeft" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img3.png"
                                class="wow animate__animated animate__lightSpeedIn" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img4.png"
                                class="wow animate__animated animate__rollIn" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img5.png"
                                class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img6.png"
                                class="wow animate__animated animate__fadeInDown" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img7.png"
                                class="wow animate__animated animate__flip" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img8.png"
                                class="wow animate__animated animate__zoomIn" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/shape6.png" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img9.png"
                                class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img10.png"
                                class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img11.png"
                                class="wow animate__animated animate__flip" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/marketing-img12.png"
                                class="wow animate__animated animate__lightSpeedIn" data-wow-delay="0.4s" alt="img">
                            <img src="assets/img/marketing-shape/main-image.png"
                                class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray shape-1"></div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="img"></div>
    <div class="shape2"><img src="assets/img/shape2.png" alt="img"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="img"></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="img"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape8.svg" alt="shape"></div>
    <div class="shape9"><img src="assets/img/shape9.svg" alt="shape"></div>

    <!-- Bubble Animte -->
    <div class="bubble-animate">
        <div class="circle small square1"></div>
        <div class="circle small square2"></div>
        <div class="circle small square3"></div>
        <div class="circle small square4"></div>
        <div class="circle small square5"></div>
        <div class="circle medium square1"></div>
        <div class="circle medium square2"></div>
        <div class="circle medium square3"></div>
        <div class="circle medium square4"></div>
        <div class="circle medium square5"></div>
        <div class="circle large square1"></div>
        <div class="circle large square2"></div>
        <div class="circle large square3"></div>
        <div class="circle large square4"></div>
    </div>
</div>
<!-- End Marketing Main Banner -->

<app-partner></app-partner>

<!-- End Platform Connect -->