<!-- Start Startup Main Banner -->
<div class="home-slides startup-home owl-carousel owl-theme">
    <div class="main-banner startup-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="hero-content">
                                <h1
                                    style="
                                        font-size: 46px;
                                        font-weight: 700;
                                        margin-top: 10px;
                                    "
                                >
                                    Un expert en rénovation & Aménagement -
                                    Entretien de jardin
                                </h1>
                                <p>
                                    Specialise dans la conception,
                                    l'aménagement, l'entretien des espaces
                                    verts, et systems d'arrosage passionnes,
                                    rigoureux et competents nous apportons un
                                    soin costant a l'ensemble des realisations
                                    sur lesquelle nous intervenons.
                                </p>
                                <a href="#features" class="btn btn-primary"
                                    >En savoir plus</a
                                >
                                <a
                                    href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                    class="video-btn popup-youtube"
                                >
                                    Watch Video
                                    <i class="icofont-play-alt-3"></i
                                ></a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="startup-image">
                                <img
                                    src="assets/img/startup-shape/board.png"
                                    class="wow animate__animated animate__fadeInDown"
                                    data-wow-delay="0.6s"
                                    alt="board"
                                />
                                <img
                                    src="assets/img/startup-shape/chart1.png"
                                    class="wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.6s"
                                    alt="chart1"
                                />
                                <img
                                    src="assets/img/startup-shape/chart2.png"
                                    class="wow animate__animated animate__fadeInLeft"
                                    data-wow-delay="0.6s"
                                    alt="chart2"
                                />
                                <img
                                    src="assets/img/startup-shape/check-mark.png"
                                    class="wow animate__animated animate__zoomIn"
                                    data-wow-delay="0.6s"
                                    alt="check-mark"
                                />
                                <img
                                    src="assets/img/startup-shape/girl1.png"
                                    class="wow animate__animated animate__bounceIn"
                                    data-wow-delay="0.6s"
                                    alt="girl1"
                                />
                                <img
                                    src="assets/img/startup-shape/girl2.png"
                                    class="wow animate__animated animate__fadeInDown"
                                    data-wow-delay="0.6s"
                                    alt="girl2"
                                />
                                <img
                                    src="assets/img/startup-shape/line.png"
                                    class="wow animate__animated animate__zoomIn"
                                    data-wow-delay="0.6s"
                                    alt="line"
                                />
                                <img
                                    src="assets/img/startup-shape/man.png"
                                    class="wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.6s"
                                    alt="man"
                                />
                                <img
                                    src="assets/img/startup-shape/progress.png"
                                    class="wow animate__animated animate__rotateIn"
                                    data-wow-delay="0.6s"
                                    alt="progress"
                                />
                                <img
                                    src="assets/img/startup-shape/table.png"
                                    class="wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.6s"
                                    alt="table"
                                />
                                <img
                                    src="assets/img/startup-shape/main-image.png"
                                    class="wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.6s"
                                    alt="main-image"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="creative-shape">
            <img src="assets/img/bg5.png" alt="bg" />
        </div>

        <div class="bg-gray shape-1"></div>
        <div class="shape1"><img src="assets/img/shape1.png" alt="img" /></div>
        <div class="shape2"><img src="assets/img/shape2.png" alt="img" /></div>
        <div class="shape3"><img src="assets/img/shape3.png" alt="img" /></div>
        <div class="shape6"><img src="assets/img/shape6.png" alt="img" /></div>
        <div class="shape8 rotateme">
            <img src="assets/img/shape8.svg" alt="shape" />
        </div>
        <div class="shape9">
            <img src="assets/img/shape9.svg" alt="shape" />
        </div>

        <div class="bubble-animate">
            <div class="circle small square1"></div>
            <div class="circle small square2"></div>
            <div class="circle small square3"></div>
            <div class="circle small square4"></div>
            <div class="circle small square5"></div>
            <div class="circle medium square1"></div>
            <div class="circle medium square2"></div>
            <div class="circle medium square3"></div>
            <div class="circle medium square4"></div>
            <div class="circle medium square5"></div>
            <div class="circle large square1"></div>
            <div class="circle large square2"></div>
            <div class="circle large square3"></div>
            <div class="circle large square4"></div>
        </div>
    </div>
    <!-- 
    <div class="main-banner startup-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="hero-content">
                                <h1>It's Time To Create Your Own Business Scheme</h1>
                                <p>Our passion to work hard and deliver excellent results. It could solve the needs of your customers and develop innovation.</p>
                                <a routerLink="/" class="btn btn-primary">Get Started</a>
                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"> Watch Video <i class="icofont-play-alt-3"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="startup-image">
                                <img src="assets/img/startup-shape/board.png" class="wow animate__animated animate__fadeInDown" data-wow-delay="0.6s" alt="board">
                                <img src="assets/img/startup-shape/chart1.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="chart1">
                                <img src="assets/img/startup-shape/chart2.png" class="wow animate__animated animate__fadeInLeft" data-wow-delay="0.6s" alt="chart2">
                                <img src="assets/img/startup-shape/check-mark.png" class="wow animate__animated animate__zoomIn" data-wow-delay="0.6s" alt="check-mark">
                                <img src="assets/img/startup-shape/girl1.png" class="wow animate__animated animate__bounceIn" data-wow-delay="0.6s" alt="girl1">
                                <img src="assets/img/startup-shape/girl2.png" class="wow animate__animated animate__fadeInDown" data-wow-delay="0.6s" alt="girl2">
                                <img src="assets/img/startup-shape/line.png" class="wow animate__animated animate__zoomIn" data-wow-delay="0.6s" alt="line">
                                <img src="assets/img/startup-shape/man.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="man">
                                <img src="assets/img/startup-shape/progress.png" class="wow animate__animated animate__rotateIn" data-wow-delay="0.6s" alt="progress">
                                <img src="assets/img/startup-shape/table.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="table">
                                <img src="assets/img/startup-shape/main-image.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="main-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-gray shape-1"></div>
        <div class="shape1"><img src="assets/img/shape1.png" alt="img"></div>
        <div class="shape2"><img src="assets/img/shape2.png" alt="img"></div>
        <div class="shape3"><img src="assets/img/shape3.png" alt="img"></div>
        <div class="shape6"><img src="assets/img/shape6.png" alt="img"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape8.svg" alt="shape"></div>
        <div class="shape9"><img src="assets/img/shape9.svg" alt="shape"></div>
    </div>

    <div class="main-banner startup-bg3">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="hero-content">
                                <h1>It's Time To Create Your Own Business Scheme</h1>
                                <p>Our passion to work hard and deliver excellent results. It could solve the needs of your customers and develop innovation.</p>
                                <a routerLink="/" class="btn btn-primary">Get Started</a>
                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"> Watch Video <i class="icofont-play-alt-3"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="startup-image">
                                <div class="startup-image">
                                    <img src="assets/img/startup-shape/board.png" class="wow animate__animated animate__fadeInDown" data-wow-delay="0.6s" alt="board">
                                    <img src="assets/img/startup-shape/chart1.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="chart1">
                                    <img src="assets/img/startup-shape/chart2.png" class="wow animate__animated animate__fadeInLeft" data-wow-delay="0.6s" alt="chart2">
                                    <img src="assets/img/startup-shape/check-mark.png" class="wow animate__animated animate__zoomIn" data-wow-delay="0.6s" alt="check-mark">
                                    <img src="assets/img/startup-shape/girl1.png" class="wow animate__animated animate__bounceIn" data-wow-delay="0.6s" alt="girl1">
                                    <img src="assets/img/startup-shape/girl2.png" class="wow animate__animated animate__fadeInDown" data-wow-delay="0.6s" alt="girl2">
                                    <img src="assets/img/startup-shape/line.png" class="wow animate__animated animate__zoomIn" data-wow-delay="0.6s" alt="line">
                                    <img src="assets/img/startup-shape/man.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="man">
                                    <img src="assets/img/startup-shape/progress.png" class="wow animate__animated animate__rotateIn" data-wow-delay="0.6s" alt="progress">
                                    <img src="assets/img/startup-shape/table.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="table">
                                    <img src="assets/img/startup-shape/main-image.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s" alt="main-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-gray shape-1"></div>
        <div class="shape1"><img src="assets/img/shape1.png" alt="img"></div>
        <div class="shape2"><img src="assets/img/shape2.png" alt="img"></div>
        <div class="shape3"><img src="assets/img/shape3.png" alt="img"></div>
        <div class="shape6"><img src="assets/img/shape6.png" alt="img"></div>
        <div class="shape8 rotateme"><img src="assets/img/shape8.svg" alt="shape"></div>
        <div class="shape9"><img src="assets/img/shape9.svg" alt="shape"></div>
    </div> -->
</div>
<!-- End Startup Main Banner -->

<app-partner></app-partner>

<!-- Start Features Area -->
<section id="features" class="features-area startup-features ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <a
                            href="services/espace-vert"
                            class="single-holder-box"
                        >
                            <img src="assets/img/agriculture.png" alt="image" />
                            <h3>Création des espaces verts</h3>
                            <p>
                                Nous créons des espaces verts pour les
                                particuliers et les entreprises.
                            </p>
                        </a>

                        <a href="/services" class="single-holder-box mt-30">
                            <img src="assets/img/sprinkler.png" alt="image" />
                            <h3>Arrosage automatique</h3>
                            <p>
                                Nous installons des systèmes d'arrosage
                                automatique pour les particuliers et les
                                entreprises.
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <a href="/realisations" class="single-holder-box mt-50">
                            <img src="assets/img/court.png" alt="image" />
                            <h3>Réalisation des court de tennis</h3>
                            <p>
                                Nous réalisons des court de tennis pour les
                                particuliers et les entreprises.
                            </p>
                        </a>

                        <a
                            href="/services"
                            class="single-holder-box mt-30"
                        >
                            <img src="assets/img/gardening.png" alt="image" />
                            <h3>Entretien des jardins</h3>
                            <p>
                                Nous entretenons les jardins pour les
                                particuliers et les entreprises.
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="features-holder-content">
                    <div class="section-title">
                        <h2>Nous vous offrons une large gamme de services</h2>
                        <div class="bar"></div>
                    </div>
                    <p>
                        Vous cherchez à aménager votre espace vert, entretenir
                        votre jardin ou simplement installer un arrosage
                        automatique,… innovation verte, possède la compétence,
                        le savoir faire et les moyens pour faire de votre rêve
                        une réalité.
                    </p>
                    <!-- <p>We’re also experts at finding the sweet spot between Google’s guidelines and what is commercially right for you. We have progressive theories on search as a tool for retention of customers, not just for acquisition. we always measure, always analyze and always innovate.</p> -->
                    <a routerLink="/services" class="btn btn-primary"
                        >Nos services</a
                    >
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="features-inner-area">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="features-inner-content">
                        <div class="features-item">
                            <div class="icon">
                                <i class="icofont-cloud-refresh"></i>
                            </div>
                            <h3>Cloud Service</h3>
                            <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                        </div>

                        <div class="features-item">
                            <div class="icon">
                                <i class="icofont-gift"></i>
                            </div>
                            <h3>Daily Free Gift</h3>
                            <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                        </div>

                        <div class="features-item">
                            <div class="icon">
                                <i class="icofont-live-support"></i>
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="features-image">
                        <img src="assets/img/features-img1.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="shape7"><img src="assets/img/shape7.png" alt="shape" /></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="img" /></div>
    <div class="bg-gray shape-1"></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="img" /></div>
    <div class="shape8 rotateme">
        <img src="assets/img/shape8.svg" alt="shape" />
    </div>
    <div class="shape9"><img src="assets/img/shape9.svg" alt="shape" /></div>
    <div class="shape10"><img src="assets/img/shape10.svg" alt="shape" /></div>
    <div class="shape11 rotateme">
        <img src="assets/img/shape11.svg" alt="shape" />
    </div>
</section>
<!-- End Features Area -->
<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="section-title">
            <h2>Pourquoi nous choisir</h2>
            <div class="bar"></div>
            <p>
                Nous sommes une entreprise spécialisée dans l'aménagement des
                espaces verts, l'entretien des jardins et l'installation des
                systèmes d'arrosage automatique.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-like"></i>
                    </div>
                    <h3>Travail garanti</h3>
                    <p>
                        nous assuron l’entretien des parties extérieures des
                        habitations (jardin, massifs, haies, terrasses,
                        allées..) des clients du JARDINS MOUMEN avec le matériel
                        et le véhicule fournis par l’entreprise.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-home"></i>
                    </div>
                    <h3>Jardinage à domicile</h3>
                    <p>
                        MONDO JARDINE met à votre disposition des jardiniers
                        pour vos travaux d'extérieurs afin de vous aider dans la
                        taille des haies, la tonte de pelouse et toutes autres
                        tâches pour embellir vos espaces verts.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-ui-fire-wall"></i>
                    </div>
                    <h3>Comment ça marche</h3>
                    <p>
                        Nos jardiniers autant des professionnels
                        (auto-entrepreneur) que des particuliers qui complètent
                        leurs revenus et notre partenaire l'etat assure tous les
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-pie-chart"></i>
                    </div>
                    <h3>Paysagiste Experts en Jardinage</h3>
                    <p>
                        L’extérieur de vos locaux professionnels constitue
                        l’image de votre entreprise , Nos professionnels
                        interviennent ponctuellement ou régulièrement ; demandez
                        votre contrat d’entretien annuel ! Nous nous adaptons à
                        vos demandes.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-deviantart"></i>
                    </div>
                    <h3>Tarif & Prix Raisonnables</h3>
                    <p>
                        Le prix de l’entretien de jardin va dépendre du
                        professionnel contacté ainsi que des opérations
                        programmées, il va dépendre de la grandeur de votre
                        jardin, du nombre d’heures nécessaires à son entretien.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-headphone-alt-2"></i>
                    </div>
                    <h3>Disponibilité 24/7</h3>
                    <p>
                        Nous nous déplaçons préalablement sur votre lieu de
                        travail ou à votre domicile pour une étude préalable de
                        vos besoins, de vos attentes, de la fréquence de nos
                        interventions ; nous vous délivrons ensuite un devis
                        gratuit et détaillé.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Overview Area -->
<section class="overview-section ptb-100">
    <div class="container">
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="assets/img/marketing-3.png" alt="image" />
                </div>

                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-power"></i>
                    </div>
                    <h3>Notre Mission</h3>
                    <p>
                        Notre mission est de vous aider à améliorer votre
                        qualité de vie en vous proposant des solutions
                        d’aménagement et d’entretien de vos espaces verts.
                    </p>
                    <ul>
                        <li>
                            <i class="icofont-check-circled"></i> Aménagement
                            des espaces verts
                        </li>
                        <li>
                            <i class="icofont-check-circled"></i> Entretien des
                            jardins
                        </li>
                        <li>
                            <i class="icofont-check-circled"></i> Installation
                            des systèmes d’arrosage automatique
                        </li>
                    </ul>
                    <a routerLink="/about-us" class="btn btn-primary"
                        >En savoir plus</a
                    >
                </div>
            </div>
        </div>
        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                
        
                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-share-alt"></i>
                    </div>
                    <h3>
                        <h2>EVALUEZ
                        VOS TRAVAUX DE JARDINAGE</h2>
                    </h3>
                    <p>
                    Choisir Interservices, c’est opter pour la transparence et la qualité. Pas de mauvaise surprise !
                    Nous vous donnons la possibilité de réaliser un devis en ligne, ou un expert se déplace à votre domicile pour évaluer au
                    mieux, la prestation en jardinage dont vous avez besoin.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 overview-img">
                    <img 
                    src="assets/img/illus01.webp" alt="image" />
                </div>
            </div>
        </div>

        <!-- 

        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="assets/img/marketing-1.png" alt="image">
                </div>

                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-ui-messaging"></i>
                    </div>
                    <h3>Engineered And Optimization By Conveying. </h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>Unimited Video Call</li>
                        <li>Add Favourite contact</li>
                        <li>Camera Filter</li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="overview-box">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 overview-content">
                    <div class="icon">
                        <i class="icofont-users-social"></i>
                    </div>
                    <h3>Quick & Easy Process</h3>
                    <p>Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project to an individual person's workload.</p>
                    <ul>
                        <li>Unimited Video Call</li>
                        <li>Add Favourite contact</li>
                        <li>Camera Filter</li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">Read More</a>
                </div>

                <div class="col-lg-6 col-md-6 overview-img">
                    <img src="assets/img/overview-4.png" alt="image">
                </div>
            </div>
        </div> -->
    </div>

    <div class="shape7"><img src="assets/img/shape7.png" alt="shape" /></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="img" /></div>
    <div class="bg-gray shape-1"></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="img" /></div>
    <div class="shape8 rotateme">
        <img src="assets/img/shape8.svg" alt="shape" />
    </div>
    <div class="shape9"><img src="assets/img/shape9.svg" alt="shape" /></div>
    <div class="shape10"><img src="assets/img/shape10.svg" alt="shape" /></div>
    <div class="shape11 rotateme">
        <img src="assets/img/shape11.svg" alt="shape" />
    </div>
</section>