<!-- Start Page Title Area -->
<section class="page-title-banner">
    <div 
    class="container">
        <div class="row">
            <div 
            class="col-lg-12">
                <h2>Travaux de pompage et de curage des fosses septiques et des bassins.</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="img" /></div>
    <div class="shape2"><img src="assets/img/shape2.png" alt="img" /></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="img" /></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="img" /></div>
    <div class="shape8 rotateme">
        <img src="assets/img/shape8.svg" alt="shape" />
    </div>
    <div class="shape9"><img src="assets/img/shape9.svg" alt="shape" /></div>
</section>
<!-- End Page Title Area -->

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details">
                    <div class="article-img">
                        <img src="assets/img/ouvrier-et-camion-en-maintenance-egouts.jpg" alt="blog-details" />
                    </div>

                    <div class="article-content">
                        <h3>
                            Inspection télévisée de vos réseaux d'assainissement
                        </h3>
                        <p>
                        Avec le temps, les résidus s’accumulent dans les canalisations ; à terme, elles finissent par se boucher. L’obstruction
                        de vos canalisations peut être causée par tout type de détritus : cheveux, lingettes, graisses, calcaire, crasse ou
                        encore racines…
                        Les bouchons dans les canalisations sont responsables d’un mauvais écoulement des eaux usées. Ils sont aussi
                        responsables de mauvaises odeurs. Pour éviter que vos problèmes de canalisations tournent au cauchemar, il est
                        primordial d’intervenir rapidement de façon à rétablir un bon écoulement.
                        </p>
                        <h3>COMMENT DÉBOUCHER VOS CANALISATIONS ?</h3> 
                        <p>
                        Pour déboucher vos points d’eau bouchés, vous pouvez essayer quelques astuces maison.
                        Par exemple, verser du bicarbonate de soude et du vinaigre dans vos canalisations peut permettre de retirer certains
                        résidus. Vous pouvez avant tout avoir recours à l’utilisation d’une ventouse pour déboucher un évier ou lavabo. Le
                        démontage du siphon permet également de retirer une partie des détritus se situant à l’entrée de la canalisation.
                        Parfois, déverser un seau d’eau chaude dans vos canalisations suffit à faire disparaître les bouchons qui s’y trouvent.
                        En revanche, nous vous déconseillons l’utilisation systématique de produits détergents tels que la soude lorsque vos
                        canalisations sont bouchées. Sinon, le recours fréquent à des produits détergents risque d’endommager vos installations
                        et de fragiliser vos canalisations.
                        
                        C’est pourquoi, si vos problèmes de canalisation persistent, après avoir essayé ces différentes astuces, mieux vaut
                        faire appel à nos techniciens pour traiter le problème. Cela limite les risques d’abîmer votre installation. Qu’il
                        s’agisse de vos WC, lavabo, baignoire ou évier, nos techniciens experts interviennent à l’aide de camions équipés pour
                        déboucher vos canalisations rapidement et en toute sécurité.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="widget widget-search">
                        <form>
                            <input type="text" class="form-control" placeholder="Search" />
                            <button type="submit">
                                <i class="icofont-search-2"></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget widget_text">
                        <h3 class="widget-title">Galerie de photos</h3>
                        <div class="bar"></div>
                        <ul>
                            <!-- <li>
                                <div class="single-image">
                                    <img src="assets/img/cache_51936267.jpg" alt="gallery">
                                    <a href=="assets/img/cache_51936267.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                </div>
                            </li>
                        
                            <li>
                                    <div class="single-image">
                                        <img src="assets/img/Nouveauprojet.jpg" alt="gallery">
                                        <a href=="assets/img/Nouveauprojet.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                    </div>
                            </li>
                            -->
                            <!-- <li>
                                <div class="single-image">
                                    <img src="assets/img/Preparation-de-lintervention.jpg" alt="gallery">
                                    <a href=="assets/img/Preparation-de-lintervention.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                                </div>
                            </li> -->

                            <div class="single-image mb-5">
                                <img src="assets/img/2K.jpg" alt="gallery">
                                <a href="assets/img/2K.jpg" class="popup-btn"><i
                                        class="icofont-plus"></i></a>
                            </div>
                            <div class="single-image mb-5">
                                <img style="width: 500px; height:300px ;" src="assets/img/DDTP-12.jpg"
                                    alt="gallery">
                                <a href="assets/img/DDTP-12.jpg" class="popup-btn"><i
                                        class="icofont-plus"></i></a>
                            </div>
                            <div class="single-image mb-5">
                                <img src="assets/img/DDTP-11.jpg" alt="gallery">
                                <a href="assets/img/DDTP-11.jpg" class="popup-btn"><i
                                        class="icofont-plus"></i></a>
                            </div>
                            <div class="single-image mb-5">
                                <img src="assets/img/DDTP-14.jpg" alt="gallery">
                                <a href="assets/img/DDTP-14.jpg" class="popup-btn"><i
                                        class="icofont-plus"></i></a>
                            </div>
                            <div class="single-image mb-5">
                                <img src="assets/img/assainissement-2a.jpg" alt="gallery">
                                <a href="assets/img/assainissement-2a.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                            </div>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->