<!-- Start Page Title Area -->
<section class="page-title-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Us</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="img" /></div>
    <div class="shape2"><img src="assets/img/shape2.png" alt="img" /></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="img" /></div>
    <div class="shape6"><img src="assets/img/shape6.png" alt="img" /></div>
    <div class="shape8 rotateme">
        <img src="assets/img/shape8.svg" alt="shape" />
    </div>
    <div class="shape9"><img src="assets/img/shape9.svg" alt="shape" /></div>
</section>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>
                            Our process is simple; Our products are powerful.
                        </h2>
                        <div class="bar"></div>
                        <p>
                            Lorem ipsum dolor sit amet, con se ctetur adipiscing
                            elit. In sagittis eg esta ante, sed viverra nunc
                            tinci dunt nec elei fend et tiram.
                        </p>
                    </div>
                    <p>
                        Passionnés, rigoureux et compétents, nous apportons un
                        soin constant à l’ensemble des réalisations sur
                        lesquelles nous intervenons.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        In sagittis egestas ante, sed viverra nunc tincidunt nec
                        nteger nonsed condimntum elit, sit amet feugiat lorem.
                        Proin tempus sagittis velit vitae scelerisque.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, con se ctetur adipiscing
                        elit. In sagittis eg esta ante, sed viverra nunc tinci
                        dunt nec elei fend et tiram.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <img src="assets/img/undraw_Interview_re_e5jn.png" alt="image" />
            </div>
        </div>
    </div>

    <div class="about-inner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>Our Company</h3>
                        <p>
                            Lorem ipsum dolor sit amet, con sectetur adipisicing
                            elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>Who we are</h3>
                        <p>
                            Lorem ipsum dolor sit amet, con sectetur adipisicing
                            elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>What we Value</h3>
                        <p>
                            Lorem ipsum dolor sit amet, con sectetur adipisicing
                            elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="about-text">
                        <h3>Contact Us</h3>
                        <p>
                            Lorem ipsum dolor sit amet, con sectetur adipisicing
                            elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Feedback Area -->
<section class="services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Nos clients</h2>
            <div class="bar"></div>
            <p>Liste de nos clients</p>
        </div>
        <app-partner></app-partner>
    </div>
</section>

<!-- Start Platform Connect -->

<!-- End Platform Connect -->
